{% load i18n %}
<div
    class="modal fade"
    id="nautobot-generic-modal"
    tabindex="-1"
    data-bs-backdrop="static"
>
    <div class="modal-dialog modal-lg" id="modal-dialog-container">
        <div
            class="modal-content"
            id="modal-content-container"
            hx-on:htmx:load="jsify_form(this);"
        >
            {# --- FALLBACK CONTENT --- #}
            {% trans "Loading..." as modal_title %}
            {% include 'inc/modal_header.html' with title=modal_title %}
            <div class="modal-body text-center p-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">{% trans "Loading..." %}</span>
                </div>
                <p class="mt-2 text-secondary">
                    {% trans "Please wait while we fetch the content..." %}
                </p>
            </div>
            {# --- END FALLBACK CONTENT --- #}
        </div>
    </div>
</div>
