{% comment %}4.0 TODO: no longer used by core; remove unless an app still relies on it{% endcomment %}
{% load i18n %}

{% load helpers %}

{% if scheduled_job.state == 'denied' %}
    <span class="badge bg-danger">{% trans "Approval Denied" %}</span>
{% elif scheduled_job.state == 'canceled' %}
    <span class="badge bg-danger">{% trans "Approval Canceled" %}</span>
{% elif scheduled_job.state == 'pending' %}
    <span class="badge bg-warning border">{% trans "Pending Approval" %}</span>
{% elif scheduled_job.state == 'active' %}
    <span class="badge bg-info">{% trans "Active" %}</span>
{% elif scheduled_job.state == 'completed' %}
    <span class="badge bg-success">{% trans "Completed" %}</span>
{% elif scheduled_job.state == 'errored' %}
    <span class="badge bg-danger">{% trans "Errored" %}</span>
{% else %}
    <span class="badge bg-body-secondary border">{{ scheduled_job.state | bettertitle }}</span>
{% endif %}
