{% extends 'generic/object_retrieve.html' %}
{% load i18n %}
{% load helpers %}
{% load render_table from django_tables2 %}

{% block extra_nav_tabs %}
    {% with interface_count=object.interfaces.count %}
        {% if interface_count %}
            <li class="nav-item" role="presentation">
                <a href="{% url 'ipam:ipaddress_interfaces' pk=object.pk %}" class="nav-link{% if active_tab == 'interfaces' %} active{% endif %}">{% trans "Interfaces" %} {% badge interface_count %}</a>
            </li>
        {% endif %}
    {% endwith %}
    {% with vm_interface_count=object.vm_interfaces.count %}
        {% if vm_interface_count %}
            <li class="nav-item" role="presentation">
                <a href="{% url 'ipam:ipaddress_vm_interfaces' pk=object.pk %}" class="nav-link{% if active_tab == 'vm_interfaces' %} active{% endif %}">{% trans "VM Interfaces" %} {% badge vm_interface_count %}</a>
            </li>
        {% endif %}
    {% endwith %}
{% endblock extra_nav_tabs %}

{% block content_left_page %}
    <div class="card">
        <div class="card-header">
            <strong>{% trans "IP Address" %}</strong>
        </div>
        <table class="table table-hover card-body attr-table">
            <tr>
                <td>{% trans "Namespace" %}</td>
                <td>{{ object.parent.namespace|hyperlinked_object }}</td>
            </tr>
            <tr>
                <td>{% trans "IP Version" %}</td>
                <td>IPv{{ object.ip_version }}</td>
            </tr>
            <tr>
                <td>{% trans "Type" %}</td>
                <td>{{ object.type|hyperlinked_object }}</td>
            </tr>
            <tr>
                <td>{% trans "Status" %}</td>
                <td>
                    {{ object.status| hyperlinked_object_with_color }}
                </td>
            </tr>
            <tr>
                <td>{% trans "Role" %}</td>
                <td>
                    {{ object.role | hyperlinked_object_with_color }}
                </td>
            </tr>
            <tr>
                <td>{% trans "VRFs" %}</td>
                <td>
                    {% if object.parent.vrfs.exists %}
                        <ul class="list-unstyled">
                            {% for vrf in object.parent.vrfs.all %}
                                <li>{{ vrf|hyperlinked_object }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{% trans "DNS Name" %}</td>
                <td>{{ object.dns_name|placeholder }}</td>
            </tr>
            <tr>
                <td>{% trans "Description" %}</td>
                <td>{{ object.description|placeholder }}</td>
            </tr>
        </table>
    </div>
{% endblock content_left_page %}

{% block content_right_page %}
    <div class="card">
        <div class="card-header">
            <strong>{% trans "Operational Details" %}</strong>
        </div>
        <table class="table table-hover card-body attr-table">
            {% include 'inc/tenant_table_row.html' %}
            <tr>
                <td>{% trans "Assignment" %}</td>
                <td>
                    {% with interface_count=object.interfaces.count vm_interface_count=object.vm_interfaces.count %}
                        {% if interface_count == 1 and vm_interface_count == 0 %}
                            {{ object.interfaces.first.parent|hyperlinked_object }} ({{ object.interfaces.first|hyperlinked_object }})
                        {% elif interface_count == 0 and vm_interface_count == 1 %}
                            {{ object.vm_interfaces.first.parent|hyperlinked_object }} ({{ object.vm_interfaces.first|hyperlinked_object }})
                        {% elif interface_count == 0 and vm_interface_count == 0 %}
                            <span class="text-secondary">&mdash;</span>
                        {% else %}
                            {% if interface_count > 0 %}
                                <a href="{% url 'ipam:ipaddress_interfaces' pk=object.pk %}">
                                    {% blocktrans count count=interface_count %}{{ count }} interface{% plural %}{{ count }} interfaces{% endblocktrans %}
                                </a>
                                {% if vm_interface_count > 0 %}
                                    <br>
                                {% endif %}
                            {% endif %}
                            {% if vm_interface_count > 0 %}
                                <a href="{% url 'ipam:ipaddress_vm_interfaces' pk=object.pk %}">
                                    {% blocktrans count count=vm_interface_count %}{{ count }} VM interface{% plural %}{{ count }} VM interfaces{% endblocktrans %}
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                    <!-- TODO: update to work with interface M2M -->
                <td>{% trans "NAT (inside)" %}</td>
                <td>
                    {% if object.nat_inside %}
                        {{ object.nat_inside|hyperlinked_object }}
                        {% if object.nat_inside.assigned_object %}
                            ({{ object.nat_inside.assigned_object.parent|hyperlinked_object }})
                        {% endif %}
                    {% else %}
                        <span class="text-secondary">{% trans "None" %}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{% trans "NAT (outside)" %}</td>
                <td>
                    {% if object.nat_outside_list.exists %}
                        <ul class="list-unstyled">
                            {% for nat in object.nat_outside_list.all %}
                                <li>{{ nat|hyperlinked_object }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span class="text-secondary">{% trans "None" %}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{% trans "VPN Endpoints" %}</td>
                <td>
                    {% if object.vpn_tunnel_endpoints_src_ip.exists %}
                        <ul class="list-unstyled">
                            {% for endpoint in object.vpn_tunnel_endpoints_src_ip.all %}
                                <li>{{ endpoint|hyperlinked_object }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span class="text-secondary">{% trans "None" %}</span>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    {% if object.load_balancer_pool_members.exists %}
        {% trans "Load Balancer Pool Members" as panel_heading %}
        {% include 'utilities/obj_table.html' with table=load_balancer_pool_members_table table_template='panel_table.html' heading=panel_heading %}
    {% endif %}
    {% if object.virtual_servers.exists %}
        {% trans "Virtual Servers" as panel_heading %}
        {% include 'utilities/obj_table.html' with table=virtual_servers_table table_template='panel_table.html' heading=panel_heading %}
    {% endif %}
{% endblock content_right_page %}

{% block content_full_width_page %}
    {% trans "Parent Prefixes" as panel_heading %}
    {% include 'utilities/obj_table.html' with table=parent_prefixes_table table_template='panel_table.html' heading=panel_heading %}
    {% trans "Related IP Addresses" as panel_heading %}
    {% include 'utilities/obj_table.html' with table=related_ips_table table_template='panel_table.html' heading=panel_heading %}
{% endblock content_full_width_page %}
