{% extends 'base.html' %}
{% load i18n %}
{% load helpers %}
{% load form_helpers %}

{% block title %}{% if parent_name %}{% blocktrans with count=selected_objects|length obj_type_plural=obj_type_plural|bettertitle parent_name=parent_name %}Renaming {{ count }} {{ obj_type_plural }} on {{ parent_name }}{% endblocktrans %}{% else %}{% blocktrans with count=selected_objects|length obj_type_plural=obj_type_plural|bettertitle %}Renaming {{ count }} {{ obj_type_plural }}{% endblocktrans %}{% endif %}{% endblock %}

{% block content %}
    <form action="" method="post" class="h-100 vstack">
        {% csrf_token %}
        <div class="row align-content-start flex-fill">
            <div class="col-md-7">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{% trans "Current Name" %}</th>
                                    <th>{% trans "New Name" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in selected_objects %}
                                    <tr{% if obj.new_name and obj.name != obj.new_name %} class="success"{% endif %}>
                                        <td>{{ obj.name }}</td>
                                        <td>{{ obj.new_name }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                {% if form.non_field_errors %}
                    <div class="card border-danger">
                        <div class="card-header bg-danger-subtle border-danger text-body">
                            <strong>{% trans "Errors" %}</strong>
                        </div>
                        <div class="card-body">
                            {{ form.non_field_errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-header"><strong>{% trans "Rename" %}</strong></div>
                    <div class="card-body">
                        {% render_form form %}
                    </div>
                </div>
            </div>
        </div>
        <div class="nb-form-sticky-footer">
            <button type="submit" name="_preview" class="btn btn-primary">
                <span aria-hidden="true" class="mdi mdi-eye-outline me-4"></span><!--
                -->{% trans "Preview" %}
            </button>
            {% if '_preview' in request.POST and not form.errors %}
                <button type="submit" name="_apply" class="btn btn-primary">
                    <span aria-hidden="true" class="mdi mdi-check me-4"></span><!--
                    -->{% trans "Apply" %}
                </button>
            {% endif %}
            <a href="{{ return_url }}" class="btn btn-secondary">
                <span aria-hidden="true" class="mdi mdi-close me-4"></span><!--
                -->{% trans "Cancel" %}
            </a>
        </div>
    </form>
{% endblock %}
