{% extends 'utilities/confirmation_form.html' %}
{% load i18n %}
{% load form_helpers %}
{% load helpers %}

{% block title %}{% trans "Cancel Job?" %}{% endblock %}

{% block message %}
    <p>{% trans "Are you sure you want to cancel" %} <strong>{{ object.name }}</strong>?</p>
    <p>
        {% blocktrans with when=timestamp|date:"DATETIME_FORMAT" state=job_liveness_state.display %}As of {{ when }} this job is: <strong>{{ state }}</strong>{% endblocktrans %}
    </p>
    <p>{% trans "Would you like to cancel the job? This action cannot be undone." %}</p>
{% endblock %}