{% extends 'utilities/confirmation_form.html' %}
{% load i18n %}
{% load helpers %}

{% block title %}{% blocktrans with obj_type_plural=obj_type_plural|bettertitle %}Disconnect {{ obj_type_plural }}{% endblocktrans %}{% endblock %}

{% block message %}
    <p>{% blocktrans with count=selected_objects|length %}Are you sure you want to disconnect these {{ count }} {{ obj_type_plural }}?{% endblocktrans %}</p>
    <ul>
        {% for obj in selected_objects %}
            <li>{{ obj }}</li>
        {% endfor %}
    </ul>
{% endblock %}
