{% extends 'utilities/confirmation_form.html' %}
{% load i18n %}
{% load form_helpers %}

{% block title %}{% blocktrans with installed_device=device_bay.installed_device device_bay=device_bay %}Remove {{ installed_device }} from {{ device_bay }}?{% endblocktrans %}{% endblock %}

{% block message %}
    <p>{% blocktrans with installed=device_bay.installed_device bay=device_bay %}Are you sure you want to remove <strong>{{ installed }}</strong> from <strong>{{ bay }}</strong>?{% endblocktrans %}</p>
{% endblock %}
